:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.left :hover{
    text-shadow: 1px 1px 1px  #034665b5;
    transform: scale(1.01);
}

nav .right a {
    margin: 0 10px;
    color: var(--text-color);
}

nav .right a:last-child {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0 100px;
    gap: 40px;
    flex-wrap: wrap;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .links {
    margin-top: 25px;
}

.links a:hover{
    transform: scale(1.02);
    box-shadow:2px 5px 10px #5989e8;
}

.hero-section .links a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    transition: 0.1s;
}

.hero-section .links a:hover {
    color: var(--text-color);
    border-color: var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.hero-section .headshot img {
    width: 280px;
    border-radius: 50%;
}

.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
    text-align: center;
}

.skills-section h2 {
    font-size: 35px;
}

.skills-section .text {
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cell:hover{
    transform: scale(1.02);
    box-shadow:2px 5px 10px #1a1c20;
}
.skills-section .cell {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cell span {
    font-size: 18px;
}

.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.contact-section .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section form {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-section input,
.contact-section textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    outline: none;
    resize: none;
}

.contact-section button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.contact-section button:hover {
    filter: brightness(0.9);
}

/* RESPONSIVE STYLES */
@media (max-width: 850px) {
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .contact-section .group {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        background-color: transparent;
        padding: 0;
        color: var(--text-color);
    }

    nav .right a span {
        display: none;
    }

    .hero-section,
    .skills-section,
    .contact-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    .skills-section .cell span {
        font-size: 16px;
    }
}